@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-weight: 400;
    background-color: #fdf4e3;
    font-size: 16px;
    min-width: 320px;
}

.navbar-light .navbar-nav .nav-link {
    color: #DC143C;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 600;
    color: #654321;
}

.aria-current {
   color: #654321;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #654321;
    height: 2px;
    transition: all 0.3s;
    transform: scale(0);
}
.top-menu li a:hover::after {
    transform: scale(1);
}

section {
    padding: 50px 0;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
    z-index: 2;
    position: relative;
}

.hero--info h4 {
    color: #654321;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 90%;
    color: 	#DC143C;
}

.hero--info p {
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 50px;
}

.hero--info .btn {
    background: #DC143C;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

.hero--info .btn:hover {
    cursor: pointer;
}

.hero img {
    position: absolute;
    top: 100px;
    right: 0;
    width: 500px;
}


.cat--info h2 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: left;
    color: #654321;
}

.cat img {
    position: absolute;
    top: 670px;
    right: 650px;
    padding-bottom: 50px;
}

.back-to-top {
    color: black;
    text-decoration: none;
}

.how {
    color: black;
    text-decoration: none;
}

.take {
    color: black;
    text-decoration: none;
}

.otsiv {
    color: black;
    text-decoration: none;
}

.examples {
    text-align: center;
    font-size: 20px;
    padding-bottom: 70px;
    padding-top: 30px;
    color: black;
}

table {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    border-collapse: separate;
    background-image: url("https://ya-magazin.ru/i/oboi/york_charleston_aw7602_1.jpg");
    border: 8px solid #DC143C;
    border-radius: 10px;
    margin: auto;
    width: 63%;
    padding-top: 20px;
    padding-bottom: 20px;
}

th {
    font: 18px;
    padding: 10px;
    border: 1px solid #654321;
}

td {
    padding: 10px;
    border: 1px solid #654321;
}

.sprav--info h2 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: left;
}

.sprav img {
    position: absolute;
    top: 700px;
    right: 650px;
    padding-bottom: 50px;
}


.features {
    padding: 70px 0;
}

.measure p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 80px;
    padding-top: 0px;
}

.measure h3 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: 800;
    color: #DC143C;
}

.measure ul {
    font-size: 16px;
    padding-bottom: 80px;
}

.measure ol {
    font-size: 16px;
    padding-bottom: 80px;
}


.rating {
    padding: 70px 0;
}

.rating h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.rating form {
    margin: 80px auto;
    width: 600px;
}

.rating form .inline {
    display: flex;
    justify-content: space-between;
    font-size: 14px;;
}

.rating form .inline > div {
    width: 50%;
}

.rating form label {
    font-size: 14px;
    margin-left: 10px;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.rating form .inline input {
    background: white;
    border-radius: 10px;
    border: 0.6px solid #DC143C;
    display: block;
    padding: 15px 10px;
    outline: none;
    color: #DC143C;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 90%;
    font-size: 14px;
}

.rating form .one-line {
    background: white;
    border-radius: 10px;
    border: 0.6px solid #DC143C;
    display: block;
    padding: 15px 10px;
    outline: none;
    color: #DC143C;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 90%;
    font-size: 14px;
}

.rating form .one-line {
    width: 95%;
}

.rating form .btn {
    background: #DC143C;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 15px 0;
    width: 99%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}



.feedback {
    padding: 70px 0;
}

.feedback h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inline > div {
    width: 50%;
}

.feedback form label {
    font-size: 14px;
}

.feedback form input {
    background: white;
    border-radius: 10px;
    border: 0.6px solid #DC143C;
    display: block;
    padding: 15px 10px;
    outline: none;
    color: #DC143C;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 90%;
}

.feedback form .one-line {
    width: 95%;
}

.feedback form .btn {
    background: #DC143C;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 15px 0;
    width: 99%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.contacts .info {
    width: 99%;
    padding: 30px 0;
}

.contacts .info h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 40px;
}

.contacts .info .btn {
    background: #4682B4;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 15px 0;
    width: 25%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 15px;
}

.footer {
background-color: #CDC5C2;
}

h8 {
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 3px;